@import "mocha.css";

* {
	border: none;
	border-radius: 0px;
	font-family: "MesloLGS Nerd Font Mono Bold" ;
	font-size: 14px;
	min-height: 8px;
    font-weight: bold;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 16px;
    margin-bottom: 0px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
	transition: none;
    color: @lavender;
	background: transparent;
}

#workspaces {
	margin-top: 16px;
	margin-left: 16px;
    margin-right: 16px;
	margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
	background: rgba(49,50,68,0.75);
	transition: none;
}

#workspaces button {
	transition: none;
	color: @overlay2;
	background: transparent;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
    padding-top: 1px;
    padding-bottom:0px;
    padding-left: 2px;
    padding-right: 2px;
    border: 2px solid transparent;
    font-size: 4px;
	border-radius: 6px;
}

#workspaces button.occupied {
	transition: none;
	color: @surface0;
	background: transparent;
	font-size: 4px;
}

#workspaces button.active {
	color: @surface0;
	background: @lavender;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	margin-right: 1px;
	padding-top: 2px;
	padding-bottom: 1px;
	padding-left:3px;
	padding-right:3px;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	/*border-color: @lavender;*/
	color: @flamingo;
}

#workspaces button.active:hover {
    color: @surface2;
	background: @flamingo;
}

#pulseaudio {
	margin-top: 16px;
	margin-left: 16px;
	margin-bottom: 0px;
    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
   	border-radius: 8px;
	transition: none;
	color: @green;
	background: rgba(49,50,68,0.75);
    border: 2px solid transparent /*@green*/;
}

#bluetooth {
	margin-top: 16px;
	margin-left: 16px;
	margin-bottom: 0px;
    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
   	border-radius: 8px;
	transition: none;
	color: @yellow;
	background: rgba(49,50,68,0.75);
    border: 2px solid transparent /*@yellow*/;
}

#clock {
	margin-top: 16px;
	margin-left: 16px;
	margin-bottom: 0px;
    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
	border-radius: 8px;
	transition: none;
	color: @peach;
	background: rgba(49,50,68,0.75);
    border: 2px solid transparent /*@peach*/;
}

#tray {
	margin-top: 16px;
	margin-left: 16px;
	margin-bottom: 0px;
    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
	transition: none;
	color: @blue; /*#B5E8E0;*/
	background: rgba(49,50,68,0.75); 
    border: 2px solid transparent /*@blue*/;
}

#idle_inhibitor {
	margin-top: 16px;
	margin-left: 16px;
	margin-bottom: 0px;
    padding-left: 2px;
	padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
	transition: none;
	color: @mauve;
	background: rgba(49,50,68,0.75); 
    border: 2px solid transparent /*@mauve*/;
    min-width: 55px;
}

#network {
    padding-left: 10px;
	padding-right: 16px;
   	border-radius: 0px;
	transition: none;
	color: @green;
	background: rgba(0,0,0,0);
}


#memory {
	padding-left: 0px;
	padding-right: 4px;
    border-radius: 0px;
	transition: none;
	color: @green;
	background: rgba(0,0,0,0);
}

#cpu {
	padding-left: 2px;
	padding-right: 2px;
    border-radius: 0px;
	transition: none;
	color: @green;
	background: rgba(0,0,0,0);
}

/* Custom Modules */

#custom-gpu {
	padding-left: 2px;
	padding-right: 0px;
    border-radius: 0px;
	transition: none;
	color: @green;
	background: rgba(0,0,0,0);
}

#custom-hardwareinfo {
	padding-left: 0px;
	padding-right: 4px;
    border-radius: 8px;
	transition: none;
	color: @sky;
	background: rgba(0,0,0,0); 
}

#custom-quit {
	padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
	transition: none;
	color: @text;
	background: rgba(0,0,0,0); 
}

#custom-lock {
	padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
	transition: none;
	color: @text;
	background: rgba(0,0,0,0);
}

#custom-reboot {
	padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
	transition: none;
	color: @text;
	background: rgba(0,0,0,0);
}

#custom-power {
	padding-left: 10px;
	padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
	transition: none;
	color: @red;
	background: rgba(0,0,0,0);
}

/* Groups */
#hardware {
    margin-top: 16px;
	margin-left: 16px;
    border-radius: 8px;
	transition: none;
	background:rgba(49,50,68,0.75); 
    border: 2px solid transparent /*@sky*/;
}

#group-power {
    margin-top: 16px;
	margin-left: 16px;
	margin-right:16px;
    border-radius: 8px;
	transition: none;
	background: rgba(49,50,68,0.75); 
    border: 2px solid transparent /*@red*/;
}


