@import "mocha.css";

* {
	border: none;
	border-radius: 0px;
	font-family: "CaskaydiaCove Nerd Font" ;
	font-size: 14px;
	min-height: 8px;
    font-weight: bold;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	/*margin-top: 16px;*/
    /*margin-bottom: 0px;*/
    margin-left: 20px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;

    border-radius: 10px;
	transition: none;
    color: @lavender;
	background: transparent;
}

#workspaces {
	/*margin-top: 16px;*/
	/*margin-left: 16px;*/
    margin-right: 12px;
	/*margin-bottom: 0px;*/

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 10px;
	background: @base;
	transition: none;
}

#workspaces button {
	transition: none;
	color: @overlay2;
	background: transparent;
    border: 2px solid transparent;
    font-size: 4px;
	border-radius: 6px;

	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;

    padding-top: 2px;
    padding-bottom:1px;
    padding-left: 3px;
    padding-right: 3px;
}

#workspaces button.occupied {
	transition: none;
	color: @surface0;
}

#workspaces button.active {
	color: @base;
	background: @lavender;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: @flamingo;
}

#workspaces button.active:hover {
    color: @flamingo;
	border :2px solid @mauve;
}

#pulseaudio {
	margin-left: 12px;

    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
   	border-radius: 8px;
	transition: none;
	color: @sapphire;
	background: @base;
    border: 2px solid transparent;
}

/* Laptop Specific Modules */
#backlight {
	margin-left: 16px;
    
    padding-left: 12px;
	padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
	
	border-radius: 8px;
	transition: none;
	color: @teal;
	background: rgba(49,50,68,0.5);
	border: 2px solid @transparent;
}

#battery {
	margin-left: 16px;
	    
    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
	border-radius: 8px;
	transition: none;
	color: @green;
	background: rgba(49,50,68,0.5);
    border: 2px solid @transparent;
}


#clock {
	margin-left: 12px;

    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

	border-radius: 8px;
	transition: none;
	color: @peach;
	background: @base;
    border: 2px solid transparent;
}

#tray {
	margin-left: 12px;

    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 8px;
	transition: none;
	color: @text;
	background: @base; 
    border: 2px solid transparent;
}

#idle_inhibitor {
	margin-left: 12px;

    padding-left: 0px;
	padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 8px;
	transition: none;
	color: @lavender;
	background: @base;
    border: 2px solid transparent;
    min-width: 55px;
}

#network {
	margin-left: 12px;
	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
   	border-radius: 8px;
	transition: none;
	color: @yellow;
	background: @base;
	border: 2px solid transparent;
}


#memory {
	padding-left: 4px;
	padding-right: 4px;
    border-radius: 0px;
	transition: none;
	color: @maroon;
	background: transparent;
}

#cpu {
	padding-left: 12px;
	padding-right: 2px;
    border-radius: 0px;
	transition: none;
	color: @maroon;
	background: transparent;
}

/* Custom Modules */

#custom-media {
	margin-right: 12px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
   	border-radius: 8px;
	transition: none;
	color: @lavender;
	background: @base;
	border: 2px solid transparent;
}

#custom-gpu {
	padding-left: 6px;
	padding-right: 0px;
    border-radius: 0px;
	transition: none;
	color: @maroon;
	background: transparent;
}

#custom-hardwareinfo {
	padding-left: 3px;
	padding-right: 6px;
    border-radius: 8px;
	transition: none;
	color: @maroon;
	background: transparent; 
}

#custom-quit {
	padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
	transition: none;
	color: @text;
	background: transparent; 
}

#custom-lock {
	padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
	transition: none;
	color: @text;
	background: transparent;
}

#custom-reboot {
	padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
	transition: none;
	color: @text;
	background: transparent;
}

#custom-power {
	padding-left: 12px;
	padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
	transition: none;
	color: @mauve;
	background: transparent;
}

/* Groups */
#hardware {
	margin-left: 12px;

    border-radius: 8px;
	transition: none;
	background:@base; 
    border: 2px solid transparent /*@sky*/;
}

#group-power {
    margin-left: 12px;
	
    border-radius: 8px;
	transition: none;
	background: @base; 
    border: 2px solid transparent /*@red*/;
}
