@import "mocha.css";

* {
	border: none;
	border-radius: 0px;
	font-family: "MesloLGS Nerd Font Mono Bold" ;
	font-size: 14px;
	min-height: 8px;
        font-weight: bold;
}

window#waybar {
	background: transparent;
}


window#waybar.hidden {
	opacity: 0.2;
}


#window {
	margin-top: 16px;
        margin-bottom: 0px;
        margin-left: 20px;
    
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
	
        border-radius: 10px;
	transition: none;
        color: @lavender;
	background: transparent;
}
#workspaces {
	margin-top: 16px;/*8px;*/
	margin-left: 16px;
        margin-right: 16px;
	margin-bottom: 0px;/*8px;*/
    
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    
        border-radius: 10px;
	background: rgba(49,50,68,0.5); /*#161320;*/
	transition: none;
}

#workspaces button {
	transition: none;
	color: @overlay2; /*#B5E8E0; pale teal*/
	background: transparent;
    
        padding-top: 1px;
        padding-bottom:0px;
        padding-left: 2px;
        padding-right: 2px;
    
        border: 3px solid transparent;
        font-size: 4px;
	border-radius: 7px;
}

#workspaces button.occupied {
	transition: none;
	color: @surface0; /*#F28FAD; pale pink*/
	background: transparent;
	font-size: 4px;
}

#workspaces button.active {
	color: @surface0; /*@overlay2;*/
        /*border-color: @lavender; */
	background: @lavender;

    
        /*border-top: 2px solid @mauve; #ABE9B3;*/
        /*border-bottom: 2px solid @mauve; #ABE9B3;*/
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	border-color: @surface1; /*#E8A2AF; pale pink*/
	border-radius: 8px;
	color: @lavender; /*#E8A2AF; pale pink*/
}

#workspaces button.active:hover {
        color: @surface2;
	background: @blue;
	border-color: transparent;
	border-radius: 7px;
}

/* OOTB Modules */


#pulseaudio {
	margin-top: 16px;
	margin-left: 16px;
	margin-bottom: 0px;
    
        padding-left: 10px;
	padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
	
   	border-radius: 8px;
	transition: none;
	color: @lavender; /*#1A1826;*/
	background: rgba(49,50,68,0.5);
        border: 2px solid @lavender;
}

#bluetooth {
	margin-top: 16px;
	margin-left: 16px;
	margin-bottom: 0px;
    
        padding-left: 10px;
	padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
	
   	border-radius: 8px;
	transition: none;
	color: @yellow;
	background: rgba(49,50,68,0.5);
        border: 2px solid @yellow;
}


#backlight {
	margin-top: 16px;
	margin-left: 16px;
	margin-bottom: 0px;
    
        padding-left: 12px;
	padding-right: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
	
	border-radius: 8px;
	transition: none;
	color: @sapphire;
	background: rgba(49,50,68,0.5);
	border: 2px solid @sapphire;
}

#clock {
	margin-top: 16px;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 0px;
    
        padding-left: 10px;
	padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    
	border-radius: 8px;
	transition: none;
	color: @mauve;
	background: rgba(49,50,68,0.5);
        border: 2px solid @mauve;
}


#battery {
	margin-top: 16px;
	margin-left: 16px;
	margin-bottom: 0px;
    
        padding-left: 10px;
	padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    
	border-radius: 8px;
	transition: none;
	color: @teal;
	background: rgba(49,50,68,0.5);
        border: 2px solid @teal;
}


#tray {
	margin-top: 16px;
	margin-left: 16px;
	margin-bottom: 0px;

        padding-left: 10px;
	padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
	
        border-radius: 8px;
	transition: none;
	color: @subtext1; /*#B5E8E0;*/
	background: rgba(49,50,68,0.5); 
        border: 2px solid @subtext1; /*#ABE9B3;*/
}

#idle_inhibitor {
	margin-top: 16px;
	margin-left: 16px;
	margin-bottom: 0px;

        padding-left: 2px;
	padding-right: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
	
        border-radius: 8px;
	transition: none;
	color: @mauve; /*#B5E8E0;*/
	background: rgba(49,50,68,0.5); 
        border: 2px solid @mauve; /*#ABE9B3;*/
        min-width: 55px;
}

#network {
        padding-left: 10px;
	padding-right: 16px;
        	
   	border-radius: 0px;
	transition: none;
	color: @green;
	background: rgba(0,0,0,0);
}


#memory {
	padding-left: 0px;
	padding-right: 4px;
	
        border-radius: 0px;
	transition: none;
	color: @green;
	background: rgba(0,0,0,0);
}

#cpu {
	padding-left: 2px;
	padding-right: 2px;
	
        border-radius: 0px;
	transition: none;
	color: @green;
	background: rgba(0,0,0,0);
}

/* Custom Modules */

#custom-gpu {
	padding-left: 2px;
	padding-right: 0px;
	
        border-radius: 0px;
	transition: none;
	color: @green; /*#B5E8E0;*/
	background: rgba(0,0,0,0);
}

#custom-hardwareinfo {
	padding-left: 0px;
	padding-right: 4px;
        	
        border-radius: 8px;
	transition: none;
	color: @yellow; /*#B5E8E0;*/
	background: rgba(49,50,68,0.5); 
}

#custom-brightness {
	margin-top: 16px;
	margin-left: 16px;
	margin-bottom: 0px;

        padding-left: 10px;
	padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
	
        border-radius: 8px;
	transition: none;
	color: @maroon; /*#B5E8E0;*/
	background: rgba(49,50,68,0.5); 
        border: 2px solid @maroon; /*#ABE9B3;*/
        min-width: 55px;
}

#custom-quit {
	padding-left: 10px;
	padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
	
        border-radius: 8px;
	transition: none;
	color: @text; /*#B5E8E0;*/
	background: rgba(0,0,0,0); 
}

#custom-lock {
	padding-left: 10px;
	padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
	
        border-radius: 8px;
	transition: none;
	color: @text; /*#B5E8E0;*/
	background: rgba(0,0,0,0);
}

#custom-reboot {
	padding-left: 10px;
	padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
	
        border-radius: 8px;
	transition: none;
	color: @text; /*#B5E8E0;*/
	background: rgba(0,0,0,0);
}

#custom-power {
	padding-left: 10px;
	padding-right: 8px;
        padding-top: 5px;
        padding-bottom: 5px;
	
        border-radius: 8px;
	transition: none;
	color: @maroon; /*#B5E8E0;*/
	background: rgba(0,0,0,0);
}

/* Groups */
#hardware {
        margin-top: 16px;
	margin-left: 16px;
        border-radius: 8px;
	transition: none;
	background: rgba(49,50,68,0.5); 
        border: 2px solid @yellow;
}

#group-power {
        margin-top: 16px;
	margin-left: 16px;
        border-radius: 8px;
	transition: none;
	background: rgba(49,50,68,0.5); 
        border: 2px solid @maroon;
}


